body {
    padding: 10px;
    
}

.listing {
    height: 150px;
    border: 1px solid grey;
    margin-bottom: 10px;
    
}

#photo {
    width: 30%;

    
}

.info{
    width: 49%;
    height: 100%;
    display: inline-block;
    
    
}
.title {
    
    font-size: 20px;
}

#description {
    font-size:13px;
}

#image {
    height:70%;
    margin-left: 30px;
}

#div{
    margin-top: 30px;
    height: 300px;
    display: block;
}

#image2 {
    margin: 10px;
    width: 50%;
}