{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'listings_from_category' category.id %}">{{category.name}}</a> 
                    <span class="badge badge-primary badge-pill">{{category.listings.count}}</span>
            {% endfor %}
        </ul>
    </div>
{% endblock %}