{% extends "auctions/layout.html" %}

{% block body %}
    <ul class="nav">
        <li class="nav-item">
            <h2>Listing: {{listing.title}} </h2>
        </li>

        {% if user.is_authenticated %} 
            <li class="nav-item">
                {%if user in interested_users %}
                    <a class="nav-link" href="{% url 'watchlist' listing.id %}">remove from watchlist</a>
                {% else %}
                    <a class="nav-link" href="{% url 'watchlist' listing.id %}">add to watchlist</a>
                {% endif %}
            </li>

            {% if listing.active and request.user in listing_owner %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'close_listing' listing.id %}">Close listing</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    <div class="container" id="cont">
        <div class="row">
            <div class="col-4">
                <image id="image2"  src="{{listing.photo}}">
            </div>
            <div class="col-4">

                <div class="desc">
                    <h4>Actual Price: $ {{listing.bid}}</h4>
                    
                </div>
                <div class="desc">
                     <h4>Category: {{category.0.name}}</h4>
                </div>
                <div class="desc">     
                    {{listing.description}}
                </div >
                <div class="desc">
                    <h6>listing owner : {{listing_owner.0}} </h6>
                    
                </div>
            </div>
            <div class="col-4">
                {% if user.is_authenticated %}
                    {% if listing.active %}
                        <div class="desc">
                            <form action="{% url 'bidding' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="info2">
                                    <input class="form-control" type="number" placeholder="entry bid" name="bid">
                                </div> 
                                <div class="info2" id="photo">   
                                    <input class="btn btn-primary" type="submit" value="bid listing">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    
                    <div class="desc">
                        <form action="{% url 'comment' listing.id %}" method="post">
                            {% csrf_token %}
                            <div class="info2">
                                <input class="form-control" name="comment" placeholder="add comment">
                            </div>
                            <div class="info2"  id="photo">
                                <input class="btn btn-primary" type="submit" value="add">
                            </div>
                        </form>
                    </div>
                    {% if message %}
                        <div class="desc">
                            {{message}}
                        </div>
                    {% endif %}

                    {% if listing.active == False and request.user.id == listing.highest_bidder %}
                        <div class="desc">
                            you won this listing
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{comment.content}}
            <span class="badge badge-primary badge-pill">{{comment.owner}}</span>
        {% endfor %}
    </ul>


{% endblock %}