{% extends "auctions/layout.html" %}

{% block body %}

<h3>Watchlist</h3>
<div>
    {% for listing in listings %}
    <div class="listing">       
        <div class="info" id="photo">
            <image id="image" src="{{listing.photo}}">
        </div> 
        <div class="info">
            <div class="title">
                <a href="{% url 'listing_page' listing.id %}">{{listing.title}}</a>
            </div>
            <div class="title" id="description">
                {{listing.description}}
            </div>
            <div class="title">
                PRICE: ${{listing.bid}}
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>


{% endblock %}